mixin navbar(user, description)
    nav.navbar
        h3= description
        ul
            if user
                li.nav-item
                    a.nav-link(href="/logout") Logout
            else
                li.nav-item
                    a.nav-link(href="/login") Login