doctype html
html
    head
        title Student Result Form
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="sanitize.css")
        link(rel="stylesheet", href="error.css")      
    body
      div.error
        h3= message