doctype html
html
    head
        title Successfully Submitted
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="sanitize.css")
        link(rel="stylesheet", href="success.css")      
    body
      div.success
        h3 Successful
